{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ site_title|default:_("Django site admin") }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link
  href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="{% static 'admin/custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">{{ site_header|default:_("Django administration") }}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
